
@{
    ViewBag.Title = "EditText";
}

<h2>EditText</h2>

<div class="row">
    <div id="pre_text" class="col-md-8 col-lg-8 col-sm-8">

    </div>

    <div class="panel panel-default col-md-8 col-lg-8 col-sm-8">
        <div id="edit_text" contenteditable="true" class="panel-body" style="background-color: gainsboro">          

        </div>
    </div>

    <div id="post_text" class="col-md-8 col-lg-8 col-sm-8">

    </div>
</div>

<script src="~/Scripts/require.js" data-main="/Scripts/Editor/DocumentReady.js"></script>







