
@{
    ViewBag.Title = "Test";
}


<h2>Editor QUnit</h2>

<div>
    <div id="qunit"></div>
    <div id="qunit-fixture">
        <!-- Hier kommen die Dom- Teststrukturen rein -->

        <div id="result">

        </div>

    </div>
</div>

<script src="~/Scripts/require.js" data-main="/Scripts/tsJs/Tests.js"></script>


@* Style wird für Gestaltung der QUnit- Testausgabe benötigt *@
@section Styles {
    <link rel="stylesheet" href="~/Content/qunit-2.19.3.css" />
}


