/*
    (c) Martin Korneffel, 2017
    Allgemeine Kopfzeile einers Seite
    Basis sind Flexboxen
*/

img {
    border-radius: 0.25em;
}

header {
    height: auto;
    margin: 0.25em;
    padding: 0.25em;
    background-color: gold;
    /* Rahmen */
    border-radius: 0.25em;
    /* Schrift */
    color: #404040;    
    font-weight: bold;
    vertical-align: middle;
}

header section a:link {
    color: darkblue;
}

header section a:visited {
    color: darkblue;
    text-decoration: none;
}

header section a:focus {
    color: darkblue;
    text-decoration: underline;
}

header section a:hover {
    color: darkblue;
    text-decoration: underline;
}

header section a:active {
    color: darkblue;
    text-decoration: none;
}
