/*
   (c) Martin Korneffel: IT- Beratung /  Softwareentwicklung
*/


.row {
    /*
    content: ".";
    display: flow;
    clear: both;
    height: 0;
        */
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* Spalte */
.col {
    /*float: left; */
    display: inline;
    margin: 0em;
    margin-left: 0px;
    margin-right: 0.2em;
    margin-bottom: 0.2em;
    padding: 0em;
}

/* Spaltenbreiten */
.cw-1 {
    width: 1em;
}

/* 1+1 */
.cw-2 {
    width: 2em;
}

/* 1+2 */
.cw-3 {
    width: 3em;
}

/* 3+3 */
.cw-6 
    {
    width: 6em;
}

/* 6+1, 1+3+3 */
.cw-7{
    width: 7em;
}

/* 6+6, 3+3+3+3 */
.cw-12 {
    width: 12em;
}

/* 1+6+6, 1+6+6, 1+3+3+3+3 */
.cw-13 {
    width: 13em;
}

.cw-14 {
    width: 14em;
}

/* 12+12 */
.cw-24 {
    width: 24em;
}

/* 12+1+12 */
.cw-25 {
    width: 25em;
}

.cw-26 {
    width: 25em;
}

.cw-28{
    width: 28em;
}

.cw3-48 {
    width: 48em;
}

.cw-50 {
    width: 50em;
}

.cw-52 {
    width: 50em;
}

.cw-56 {
    width: 56em;
}

.cw3-max-visible {
    width: 56em;
}


