/*
    (c) Martin Korneffel, Stuttgart 2017
    Kacheln für eine Navigationsoberfläche.
*/

nav {
    clear: both;
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    justify-content: space-between;    
    margin: 0.25em;
}

nav div {
    margin: 0px;
    margin-right: 0.5em;
    margin-bottom: 0px;
    background-color: gold;
    color: #404040;
}

nav div span {
    margin: 0px;
    margin-right: 0.5em;
    margin-bottom: 0px;
    background-color: gold;
    color: #404040;
}

nav div span.progName {
    text-align: right;
    margin-left: auto;
}


nav div button {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    margin: 0px;
    margin-right: 0.5em;
    margin-bottom: 0px;
    background-color: gold;
    color: #404040;
}

