<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="mko" version="7.4.1" targetFramework="net48" />
  <package id="mko.RPN" version="20.6.7727.25015" targetFramework="net48" />
  <package id="MSTest.TestAdapter" version="2.1.1" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.1" targetFramework="net472" />
</packages>