<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net461" />
  <package id="mko" version="7.4.1" targetFramework="net461" />
  <package id="mko.Algo" version="1.2.3" targetFramework="net461" />
  <package id="mko.NaLisp" version="1.2.0" targetFramework="net461" />
  <package id="mko.RPN" version="20.6.7621.16705" targetFramework="net461" />
  <package id="Moq" version="4.8.1" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>