/*
    ⌨ Łukasiewicz List Processor 𝓛𝓛𝓟
    Gestaltung der Eingabezeile
*/


.lineNo {
    font-weight: bold;
    color: aqua;
    text-align:right;
}

.lineContent {
    white-space:pre-wrap;
    color: whitesmoke;
}

.lineFunc {    
    font-weight: bold;
    color: aqua;
}

.EditLine {
    white-space: pre-wrap;
    border-bottom-style: solid;
    border-bottom-color: brown;
    font-weight: bold;
    color: gold;
}

.Cursor {
    font-weight: bold;
    color: coral;
}