/*
    ⌨ Łukasiewicz List Processor 𝓛𝓛𝓟
    Gestaltung der Eingabezeile
*/


.lineNo {
    font-family: Consolas, Courier New, Courier, monospace;
    font-weight: bold;
    color: whitesmoke;
    text-align:right;
}

.lineContent {
    font-family: Consolas, Courier New, Courier, monospace;    
    color: whitesmoke;
}

.lineFunc {
    font-family: Consolas, Courier New, Courier, monospace;
    font-weight: bold;
    color: whitesmoke;
}

.EditLine {
    border-bottom-style: solid;
    border-bottom-color: brown;
    font-family: Consolas, Courier New, Courier, monospace;
    font-weight: bold;
    color: gold;
}