<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.SlowCheetah" version="3.0.61" targetFramework="net45" />
  <package id="mko" version="7.4.1" targetFramework="net45" />
  <package id="mko.Algo" version="1.2.3" targetFramework="net45" />
  <package id="mko.Euklid" version="1.1.1" targetFramework="net461" />
  <package id="mko.NaLisp" version="1.2.0" targetFramework="net45" />
  <package id="mko.RPN" version="20.6.7621.16705" targetFramework="net461" />
  <package id="mko.RPN.Arithmetik" version="20.3.7464.29808" targetFramework="net461" />
  <package id="MkPrgNet.Pattern.Repository" version="1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="ObjectListView.Official" version="2.9.1" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" requireReinstallation="true" />
</packages>